terraform {
  required_version = "<a version>"

  backend "s3" {
    bucket = "terraform.<bucket name>"
    key    = "microservices/{ENVIRONMENT}/{APPLICATION}/terraform.tfstate"
    region = "<region>"
  }
}